* {
    box-sizing:border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #5A2971;
    font-family: "Hind Madurai", sans-serif;
    font-size:18px;
    line-height:1.6;
    font-style:normal;
    color: #2D262B;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height:1.8;
    font-weight: bold;
    letter-spacing: -1.2px;
}

h2 {
    font-family: "Mukta Vaani", sans-serif;
    font-size: 18px;
    line-height:1.8;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 20px 0px;
    
}
h3 {
    font-family: "Mukta Vaani", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height:1.8;
    font-weight: bold;
    color: #5A2971;
}
h4 {
    font-family: "Hind Madurai", sans-serif;
    font-size: 18px;
    line-height:1.8;
    font-weight: 300;
    color: #514B58;
}
.highlight {
    color:#B85DE3;
}
img {
    width:100%;
}

a {
    font-weight:500;
    color:#2D262B;
    text-decoration:none;
    transition-duration: 0.2s;
}
/*  !!!!!!!!!!!!!*/
/*.a:visited {
    opacity:0.8;
    text-decoration:none;
}*/

a:hover,
a:focus {
    opacity:0.8;
    text-decoration:none;
    color: #B85DE3;
    transition-duration: 0.2s;
}

a:active {
    color: #D592ED;
    text-decoration:none;
}

.button {
    display: inline-block;
    background-color: #5A2971;
    color: #FFFFFF;
    font-weight: 400;
    padding:10px 30px;
    border-radius:10px;
    border-bottom:2px solid #E7DFE5;
    transition: 0.8s opacity;
    margin-bottom:10px;
}

.button:visited {
    opacity:0.8;
    text-decoration:none;
}

.button:hover,
.button:focus {
    opacity:0.8;
    text-decoration:none;
    border-bottom:2px solid #514B58;
}

.button:active {
    background-color: #D592ED;
    text-decoration:none;
}

.button.contact {
    background-color: transparent;
    color: #B85DE3;
    text-transform:uppercase;
    border:2px solid #B85DE3;
    transition-duration: 2s;
    transition-property: opacity;
}

.button.contact:hover,
.button:focus {
    background-color:  #B85DE3;
    color: #ffffff;
    border-bottom:2px solid #514B58;
    
}

.button.contact:active {
    background-color: #D592ED;
    text-decoration: none;
}

/* card container*/
.row {
    display:flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0 auto;
    
}

/* the actual card with 50% pic 50% description*/
.fifty {
    width: 100%;
    border-radius: 20px;
    background-color: #FBF7F4;
    margin-bottom: 10px;
}

.my-story-card {
    width: 100%;
    border: 3px #100F0F;
    border-radius: 20px;
    background-color: #FBF7F4;
    padding: 0px 20px 20px 20px;
    margin-bottom: 20px;
}

.my-story-card-content{
    display: flex;
    flex-direction: column;
}

.text{
    text-align: left;
    margin-bottom: 30px;
}

.download-button-container{
    display:flex;
    justify-content: center;
}

.fifty img{
    border-radius: 20px 20px 0px 0px;
}

.project-description{
    padding: 0px 24px 24px 24px;
    width: 100%;
    border-radius: 20px;
}
header {
    background-color:#FBF7F4;
    padding: 4px 0;
    border-bottom: 2px solid #EAE2EE;
    box-shadow: 0 1px 20px #0000000f;
    position:fixed;
    width:100%;
    top: 0px;
    right: 0;
}
/*#header-logo-nav img{
    size;
}
/*
nav
#hero {
    background-color:#F5ECF3;
    padding: 20px 0;
    display: block;
    width:100%;
    
}

div,span {
    box-sizing:border-box;
}

nav{
    width: 100%;
}
*/

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navtoggle li:not(:last-child){
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
  }
.navtoggle.responsive nav {
    padding: 24px 0 0;
  }  
.navtoggle.responsive li  {
    display: block;
    padding: 8px 0;
  }

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 32px;
    font-size: 20px;
  }
nav > ul > li > a {
    padding: 0 15px;
    font-weight: 400;
    color:#100F0F;
}

.nav-selected{
    color: #B85DE3;
}

#hero {
    background-color: #F6F2EF;
    padding: 100px 0px 60px 0px;
    display: inline-block;
    width: 100%;   
    text-align: center;
}
#wp-about {
    background-color:#F6F2EF;
    padding: 60px 0px 40px 0px;
    display: inline-block;
    width: 100%;   
    text-align: center;
}
#glow .container{
    background-color:#F6F2EF;
    padding: 60px 0px 60px 0px;
    display: inline-block;
    width:100%;   
    text-align:center;
}
main {
    padding-top: 80px;
    background-color: #EFEBE9;
}

.container{
    max-width: 100%;
    padding: 0 10px;
}

#work .row{
    /*padding-bottom: 50px;  the space between cards???*/
    border-bottom:2px solid #E7DFE5;

}
#work .container{
    background: #EFEBE9;
}
.logo {
    max-width:202px;
    padding-top: 36px;
}

/* we used flexbox in the footer*/
#contact {
    background-color: #221826;
    text-align:center;
    padding: 40px 0;
    text-align:center;
}
#contact .container h2{
    color: #ACA7B4;
}
#contact .container p{
    color: #ACA7B4;
}


#contact .container .icons {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    margin: 60px auto;

}

#contact .container .icons img{
    height: 50px;
}
#contact p{
    font-size: 16;
}

.me img {
    width: 200px;
    height: 200px;
    margin-bottom: 70px;
}

.download-button a {
    align-content: center;
}

#about-title-and-pic {
    width: auto;
    display: flex;
    flex-direction: column;
}
.abouttitle{
    text-align:center;
    /*margin-bottom: 10px;*/
}
.pic-of-me {
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}

#about-title-and-pic picture {
    width: 200px;
}

#st-section {
    padding: 10px;
    background-color: #FBF7F4;
    border-radius: 20px;
    margin-bottom: 10px;

}

#st-section .st-container {
    display:flex;
    flex-direction: column;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.container-process {
    max-width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
/*#glow{
    background-color: #F6F2EF;
    padding: 40px 10px;
}




/*.dot{ /* this was suppose to be 
    height: 8px;
    width: 8px;
    background-color: #B85DE3;
    border-radius:50%;
    display:inline-block;
}
/*
@media media-type and (media-feature: media-value){  

}*/

@keyframes color-change{
    from {fill: #edc655;}
    to {fill: #f76414;}
  }
.sun {
    animation-duration: 1s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }  

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation-duration: 28s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 30s cloud-move-reverse infinite alternate linear;
  }

/* tablet*/
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
        
    }
    nav > ul > li {
        display:inline-block;
    }
    .navtoggle li:not(:last-child){
        display:inline-block;
    }
    .navtoggle li:last-child{
        display: none;
    }
    .logo{
        margin-top: -12px;
        float:left;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;

    }
    nav>ul{
        margin: 1em 0;
    }

   #hero {  
        display: block;
        width: auto;
    }
    /*
    .col-md-6 { /* col columns, md medium devices, 6 because there are 12 columns in total and we need 50% of them
        width: 50%;
        border-radius: 20px 0px 0px 20px;
      }
    
    [class*="col-"]{
        float: left;
    }
    row::after {
        content: "";
        clear: both;
        display: table;
      }*/
    
     .container { 
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
      }
    
    body{
        font-size: 18px;
    }
    .fifty{
        display:grid;
        grid-template-columns:50% 50%;
    }
}


/* desktop*/
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1441px;
        margin-left: auto;
        margin-right: auto;
        }

    nav > ul > li {
        display:inline-block;
    }
    

    .navtoggle li:not(:last-child){
        display:inline-block;
    }
    .navtoggle li:last-child{
        display: none;
    }
    header {
            text-align: unset;
            padding: 20px 0 13px;
            font-size: 24px;
        }
    
    .logo{
            margin-top: 2px;
            float:left;
        }
     nav {
            width: auto;
            float: right;
            margin-top: 4px;
    
        }   
    
    #hero {  
            display: block;
            width: auto;
        }        
   
    .fifty{
        display:grid;
        grid-template-columns:60% 40%;
    }
    /*.fifty {
        max-width: 1141px;
        margin-left: auto;
        margin-right: auto; 
    }*/
    
    /*.col-lg-8 {
        width: 60%;
        float:left;
        border-radius: 20px 0px 0px 20px;
    }
    .col-lg-6 {
        width: 40%;
        float: right;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
      }*/
      body{
        font-size: 24px;
    }  

    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        line-height:1.8;
        font-weight: bold;
        letter-spacing: -1.2px;
    }
    
    h2, h2, h3, h4 {
        font-size: 36px;  
    }
    
}
